<!DOCTYPE html>
<html>
<head>
  <title>Fzone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body style="padding-top: 70px">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-brand"><p>Te<strong>Gusta</strong>O<strong>No</strong></p></div>
       </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="container-fluid", style="padding-right: 0">
          <% if user_signed_in? %>
            <%= link_to "Salir", destroy_user_session_path, method: :delete %>
          </li>
          <li class="container-fluid" style="padding-top: 10px; padding-right: 20px"> <%=image_tag(Gravatar.new(current_user.email).image_url, size:"30") %> </li>
          <% end %> 
        </ul> 
      </div>
    </nav>
  </header>
 
<div class="row", style="width: 1292px">
  <div class="col-md-4 col-lg-4 col-sm-4"></div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
    <p style="text-align: center">Elige aquellos amig@s que te gustan de forma anonima, te avisaremos si ambos coinciden, el resto va por tu cuenta.</p>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4"></div>
</div>

<div class="row", style="width: 1292px">
  <div class="col-md-offset-5 col-md-2">
    <div>
    <% flash.each do |name, err|%>
      <%= content_tag :div, err, class: name %>
    <% end %>
    <%= yield %>

    </div>
  </div>
</div>  
      

  

  <footer>
    <p style="padding-left: 10px; padding-top: 100px">Escribenos en twitter <a href="http://twitter.com/tegustaono">@tegustaono</a></p>
  </footer>

</body>
</html>
